*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    padding: 1rem;
    max-width: 100rem;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(255, 195, 127);
    color: #3E3A4A;

}

nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 90%;
    margin-left: 2rem;
    padding: .2rem;
}

li{
    background-color: rgb(236, 139, 13);
    padding: .4rem;
    width: 30%;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: .1rem;
    color: rgb(255, 255, 255);
    box-shadow: 0 .2rem .2rem black;
}

